body{

margin:0;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:linear-gradient(135deg,#ff4d88,#ffd1dc);
font-family:Arial;

}

.container{

background:white;
padding:40px;
border-radius:20px;
text-align:center;
width:90%;
max-width:650px;

}

button{

padding:15px 35px;
margin:10px;
font-size:20px;
border:none;
border-radius:40px;
cursor:pointer;

}

#yes{

background:#28a745;
color:white;

}

#no{

background:red;
color:white;
position:relative;

}

#result{

display:none;
color:#ff0066;

}

.heart{

position:fixed;
bottom:-50px;
font-size:30px;
animation:fly 4s linear forwards;

}

@keyframes fly{

100%{

transform:translateY(-110vh);
opacity:0;

}

}